.load-icon {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: url(/libs/images/loader.gif) center no-repeat #fff;
}
.text-right {
	text-align: right;
}
.mb-1 {
	margin-bottom: 1em;
}
.mb-2 {
	margin-bottom: 2em;
}
.media-wrapper {
  overflow: hidden;
  word-break: break-word;
  text-overflow: ellipsis;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 5px;
  transition: 0.3s;
  position: relative;
}
.media-wrapper:hover {
  transform: scale(1.1);
  z-index: 2;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.media-wrapper img {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.media-name {
  font-size: 10px;
  word-break: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  white-space: nowrap;
  padding-top: 5px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
.myImg {
  height: 100px;
}
.media-wrapper:hover .delete-media {
  display: block;
}
.delete-media {
  padding: 1px 5px;
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 12px;
  display: none;
}
.article-description p {
  line-height: 0.2;
}
body.simple-page {
  background-color: #188ae2;
  padding-top: 8%; }

.simple-page-wrap {
  width: 380px;
  margin: 0 auto; }

.simple-page-logo {
  text-align: center;
  font-size: 24px;
  margin-bottom: 24px; }
  .simple-page-logo a {
    color: #fff; }

.simple-page-form {
  background-color: #fff;
  border-radius: 6px;
  padding: 24px;
  margin-bottom: 24px; }
  .simple-page-form .form-group {
    margin-bottom: 32px; }
  .simple-page-form input,
  .simple-page-form input:focus,
  .simple-page-form input:active {
    outline: none;
    box-shadow: none; }
  .simple-page-form input {
    border: none;
    border-bottom: 1px solid #eee;
    height: 40px; }
  .simple-page-form .btn {
    width: 100%; }

.simple-page-footer p {
  text-align: center;
  margin-bottom: 24px; }

.simple-page-footer a {
  color: #fff;
  font-weight: 500; }

.simple-page-footer small {
  margin-right: 16px;
  color: #fff; }

#_404_title {
  text-align: center;
  font-weight: 900;
  font-size: 140px;
  letter-spacing: 5px;
  color: #fff; }

#_404_msg {
  color: #fff;
  text-align: center;
  font-size: 16px; }

#_404_form {
  margin-top: 48px; }
  #_404_form .form-control {
    height: 40px; }
  #_404_form .input-group-addon {
    background: #188ae2;
    border: #188ae2;
    color: #fff; }

#unlock-user {
  margin-top: 64px;
  margin-bottom: 48px; }
  #unlock-user .avatar {
    display: block;
    margin-right: 0;
    margin: 0 auto;
    width: 80px;
    height: 80px; }
  #unlock-user h4 {
    color: #fff;
    text-align: center;
    text-transform: uppercase; }

#unlock-form .form-group {
  margin-bottom: 32px; }

#unlock-form input,
#unlock-form input:focus,
#unlock-form input:active {
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #aaa; }

#unlock-form input {
  width: 70%;
  margin: 0 auto;
  border-radius: 0;
  text-align: center;
  color: #fff;
  background-color: transparent;
  height: 40px; }
  #unlock-form input::-webkit-input-placeholder {
    color: #fff; }
  #unlock-form input::-moz-placeholder {
    color: #fff; }
  #unlock-form input:-ms-input-placeholder {
    color: #fff; }

#unlock-form #unlock-btn {
  display: block;
  margin: 0 auto;
  background-color: #fff;
  color: #188ae2;
  border-radius: 3px;
  width: 120px; }

#back-to-home {
  position: fixed;
  top: 60px;
  left: 60px; }
  #back-to-home a {
    color: #fff;
    font-size: 18px; }
    #back-to-home a i {
      font-size: 24px; }

/*# sourceMappingURL=misc-pages.css.map */